:root {
  font-size: 20px;
  box-sizing: inherit;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

p {
  margin: 0;
}

p:not(:last-child) {
  margin-bottom: 1.5em;
}

body {
  font: 22px/1.618 Inter, sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 70vh;
  padding: 80px;

  color: #22222;
  background:
    url(https://images.unsplash.com/photo-1554034483-04fda0d3507b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80)
    center / cover no-repeat fixed;
}

.card {
  max-width: 800px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 900px;
  height: 900px;
  padding: 30px;

  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(10px);
}


.lock{
  width: 200px;
  padding-left: 300px;
}

.passlock{
  width: 200px;
  padding-left: 310px;
  margin-top:-635px;
}

label, input, button {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  box-sizing: border-box;
  margin-top: -580px;
  margin-left: 70px;
}

h3{
  display: block;
  width: 85%;
  box-sizing: border-box;
  margin-left: 70px;
  font: 18px/1.6 Inter, sans-serif;
}

h2{
  display: block;
  width: 85%;
  box-sizing: border-box;
  margin-left: 70px;
  font: 19px/1.6 Inter, sans-serif;
}

input::placeholder {
  color: gray;
}

input {
  background: #ecf0f3;
  padding: 35px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 7px 10px #cbced1, inset -6px -6px 10px white;
}

button {
  color: white;
  margin-top: 30px;
  background: #0a0c17;
  height: 60px;
  border-radius: 40px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 20px 20px #cbced1, -6px -6px 10px white;
  transition: 0.3s;
  width: 80%;
}

button:hover {
  box-shadow: none;
  background-color: slategray;

}

button:active {
  position: relative;
  top: 2px;
}
